.DS_Store
client/node_modules
client/dist
gateapi/bin
gateapi/obj
IdentityServer/bin
IdentityServer/obj
IdentityServer.Data/bin
IdentityServer.Data/obj
testApi/bin
testApi/obj

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
